# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Tests & caches
.pytest_cache/

*.csv

# Ignored because it is a large model file
*rf_model.joblib

logs

mlruns
mlflow.db
mlflow_artifacts
model_artifacts